body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue; /* sets line to blue?*/
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* styles for the circle when you*/
.focus circle {
  fill: none;
  stroke: steelblue;
}